@import './base.css';
@import "tailwindcss";

#app {
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  font-weight: normal;
}


@media (hover: hover) {
  
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
